.header {
    height: 45px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    border-width: 5px;
}

.main {
    min-height: 300px;
    border-radius: 20px;
    border-width: 5px;
    background-color: rgb(20, 20, 20);
    padding: 20px;
}

body {
    background-color: rgb(32, 32, 32);
    min-height: 100%;
}

#logo {
    width: max-content;
    display: block;
    max-height: 45px;
    float: left;
    border-color: white;
    border-width: 10px;
}

#search {
    display: block;
    width: 40%;
    height: 45px;
    padding-left: 10%;
    float: left;
}

#searchbar {
    height: 80%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(46, 45, 45);
    border-color: rgb(31, 31, 31);
    border-width: 5px;
    margin: 5px;
}

#searchbar:focus {
    background-color: white;
}

#spacer {
    height: 10px;
    display: block;
}

#logo-container {
    min-width: 30%;
}

#signup-form-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    display: none;
    color: red;
    padding-left: 20%;
}

.signup-form-input {
    width: 33%;
    display: block;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgb(41, 39, 39);
    border-radius: 5px;
    border: 3px solid rgb(46, 46, 46);
    margin-left: 33%;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#submit-button {
    color: white;
    width: 35%;
}

#submit-button:hover {
    background-color: rgb(66, 65, 65);
}

.signup-form {
    display: block;
    width: 50%;
    border: 5px solid rgb(48, 47, 47);
    background-color: rgb(27, 27, 27);
    border-radius: 30px;
    border-width: 5px;
    padding: 30px;
}

.signup-text {
    color: white;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.social-link {
    max-width: 30%;
    float: right;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px;
    border-width: 3px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(59, 59, 255);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: rgb(226, 226, 226);
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: rgb(48, 47, 47);
}

#social-account {
    display: none;
}

#social-noaccount {
    display: block;
}

a {
    display: block;
}


@media screen and (max-width: 700px) and (min-width: 370px) {
    #logo {
        width: 0px;
        height: 0px;
    }

    #search {
        padding-left: 0px;
        max-width: 60%;
    }
}

@media screen and (min-width: 0px) and (max-width: 369px) {
    body {
        display: none;
    }
}